# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\User\Age\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
